<div>
  <h2 id="page-heading" data-cy="VendaHeading">
    <span jhiTranslate="acervoLivrariaApp.venda.home.title">Vendas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="acervoLivrariaApp.venda.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-venda"
        [routerLink]="['/venda/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="acervoLivrariaApp.venda.home.createLabel">Criar novo Venda</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (vendas().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="acervoLivrariaApp.venda.home.notFound">Nenhum Venda encontrado</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quantidade">
              <div class="d-flex">
                <span jhiTranslate="acervoLivrariaApp.venda.quantidade">Quantidade</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="precoVenda">
              <div class="d-flex">
                <span jhiTranslate="acervoLivrariaApp.venda.precoVenda">Preco Venda</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valorTotal">
              <div class="d-flex">
                <span jhiTranslate="acervoLivrariaApp.venda.valorTotal">Valor Total</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="edicao.id">
              <div class="d-flex">
                <span jhiTranslate="acervoLivrariaApp.venda.edicao">Edicao</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (venda of vendas(); track trackId(venda)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/venda', venda.id, 'view']">{{ venda.id }}</a>
              </td>
              <td>{{ venda.quantidade }}</td>
              <td>{{ venda.precoVenda }}</td>
              <td>{{ venda.valorTotal }}</td>
              <td>
                @if (venda.edicao) {
                  <div>
                    <a [routerLink]="['/edicao', venda.edicao.id, 'view']">{{ venda.edicao.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/venda', venda.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a [routerLink]="['/venda', venda.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(venda)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (vendas().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
